/** ===============================================================

www.themusio.com

Musio-pre-order CSS3

=================================================================== **/

html, body {
	width: 100%;
	height:100%;
	font-size: 10px;
}

body {
	min-height: 100%;	
	font-family: Lato, sans-serif; 	
	font-weight: lighter;
}

.line {
	border: 1px solid #aaaaaa;
}

#wrap {
	width: 90%;
	margin: 0 auto;
}

.container {
	max-width: 1100px;
}

div.row {
	margin-left: 0;
	margin-right: 0;
}

div#subscribe {
	margin-top: 155px;
	height: 240px;
	background-color: #2c2e32;	
}

div#subscribe div#sns {
	margin-top: 50px;
	text-align: center;
}

div#sns img {
	margin-right: 20px;
}

div#subscribe div.wrap {
	width: 100%;
	height: 240px;
	padding-top: 45px;
	margin: 0 auto;
}

div#subscribe h2 {
	margin: 0 0 6px;
	color: #ffffff;
	font-size: 22px;
}

div#subscribe p {
	color: #ffffff;
	font-weight: 300;
	margin: 6px 0 0;
}

p.message {
	margin: 0px;
	opacity: 0;
}

button#submit {
	width: 140px;
	height: 34px;
	border-radius: 5px;
	background-color: #54eae9;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	border: 2px solid #54eae9;
	line-height: 100%;
}

button#submit:focus, button#submit:hover {  
	-webkit-transition: background-color 0.1s linear;   
	background-color: transparent;   

	-webkit-transition: color 0.1s linear;   
	color: #54eae9;
	border: 2px solid #54eae9;
}

div#subscribe p.confidential {
	color: #aaaaaa;
	font-size: 12px; 
}

/** ================================================================

New Musio css

================================================================**/


/** Main video **/

#main-video-wrap
{
	position: relative;		
  	height: 760px;
}

.main-video {
  	position: absolute;
  	right: 0;
  	bottom: 0;  
  	width: 100%;
  	z-index: -100;
  	background: url(../images/main.jpg) no-repeat;
  	background-size: cover;
}

#main-video-wrap-text {
    width: 100%;
    min-height: 100%;
    height: auto !important;    
    margin: -700px auto 0;
    padding: 0 0 100px;
    position: relative;
}



#main-video-wrap-static
{
	position: relative;	
	margin-top: -86px;
	right: 0;
  	bottom: 0;  
  	width: 100%;  	
  	height: 600px;  	
  	background-size: cover; 	
  	background: url(../images/main.jpg) no-repeat center center;	
}
/** Main video end. **/


.navbar-bottom 
{
	margin-bottom: 0px;
}

/** Shop Css **/

.shop-container
{
	margin-top: 80px;
}

.shipping-btn { 
	border-radius: 0px;
	margin-top: 5px;	
  	color: #ffffff; 
  	background-color: #EB1478; 
  	border-color: #EB1478; 
} 
 
.shipping-btn:hover, 
.shipping-btn:focus, 
.shipping-btn:active, 
.shipping-btn.active, 
.open .dropdown-toggle.shipping-btn { 
  	color: #ffffff; 
  	background-color: #FA2589; 
  	border-color: #EB1478; 
} 
 
.shipping-btn:active, 
.shipping-btn.active, 
.open .dropdown-toggle.shipping-btn { 
  	background-image: none; 
} 
 
.shipping-btn.disabled, 
.shipping-btn[disabled], 
fieldset[disabled] .shipping-btn, 
.shipping-btn.disabled:hover, 
.shipping-btn[disabled]:hover, 
fieldset[disabled] .shipping-btn:hover, 
.shipping-btn.disabled:focus, 
.shipping-btn[disabled]:focus, 
fieldset[disabled] .shipping-btn:focus, 
.shipping-btn.disabled:active, 
.shipping-btn[disabled]:active, 
fieldset[disabled] .shipping-btn:active, 
.shipping-btn.disabled.active, 
.shipping-btn[disabled].active, 
fieldset[disabled] .shipping-btn.active { 
  	background-color: #EB1478; 
  	border-color: #EB1478; 
} 
 
.shipping-btn .badge { 
  	color: #EB1478; 
  	background-color: #ffffff; 
}

.shipping-btn-radius{
	margin-right: 15px;
	width: 120px;	
	border-radius: 30px;
}

.shipping-btn-indiegogo{
	margin-top: 40px;
	padding-left: 30px; 
	padding-right: 30px; 
	font-size :25px;
	border-radius: 30px;
}

.shipping-img {
	margin-top: -6px;
    margin-right: 6px;
}

#shop-info
{
	margin-top: 50px;
	font-weight:600;
}

.summary-box
{
	margin-top: 44px;
	background-color:#eeeeee;
	padding-top: 15px;
	padding-bottom: 20px;
}

.summary-text
{
	margin-bottom: 35px;
}

.musio-shop-img
{
	width: 100%;
}

.ui.button 
{
    display: inline-block;
    cursor: pointer;
    /*font-size: 2em;*/
    font-weight: 900;
    line-height: 1;
    padding: 0.4em 1em;
    position: relative;
}

.ui.button.blue 
{

    color: #002c45;
    background: #0098ed;
    color: #fff;
}

.count 
{
	margin-right: 10px;
	margin-left: 10px;
}

.address-table-prefix
{
	width: 26%;
}

tr.address-table-font>td.address-table-prefix
{
	line-height: inherit;
}

td>input.form-control
{
	border: 0px solid #fff;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.0);
}

input[type="text"]:focus
{
    border-color: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 3px;    
}

tr>td>div.form-group
{
	margin-bottom: 0px;
}

.address-table-font
{
	font-size: 15px;
}

#back,#edit
{
	cursor: pointer;
	text-decoration: underline;
	color: #0098ed;
	font-size: 16px;
	font-family: inherit;
    font-weight: 500;
    line-height: 1.1;    
}

#shipping_sum_full_name,#shipping_sum_address,#shipping_sum_region
{
	line-height: 150%;
}

.musios {
	margin-top: 27px;
	color:#EB1478; 
	font-size:23px;
}

.bottom-alink {
	font-size:14px; 
	color:#23527c;
}

.video-hidden-sm {
	display: none !important; 
}

/** ======================================================================
Nav font
======================================================================**/

.navbar-default {
	background-color: rgba( 255, 255, 255, 0.0 );
	border-color: rgba( 255, 255, 255, 0.0 );
}

.main-font {	
	font-size: 50px;	
	color: #fff;	
}

.main-font2 { 
	margin-top: 80px;		
	font-size: 3rem;
	color: #fff;	
}

.main-font3 {
	margin-top: 0.5rem;
	font-size: 15px;
	color:#0cffe1;
}

.main-logo {
	width:15%; 
	margin-top: 50px;
}


.btn-pre-order { 
  	color: #FFF886; 
  	background-color: #49247A; 
  	border-color: #130269; 
  	border-radius: 30px;
} 
 
.btn-pre-order:hover, 
.btn-pre-order:focus, 
.btn-pre-order:active, 
.btn-pre-order.active, 
.open .dropdown-toggle.btn-pre-order { 
  	color: #FFF886; 
  	background-color: #5A1AAD; 
  	border-color: #130269; 
} 
 
.btn-pre-order:active, 
.btn-pre-order.active, 
.open .dropdown-toggle.btn-pre-order { 
  	background-image: none; 
} 
 
.btn-pre-order.disabled, 
.btn-pre-order[disabled], 
fieldset[disabled] .btn-pre-order, 
.btn-pre-order.disabled:hover, 
.btn-pre-order[disabled]:hover, 
fieldset[disabled] .btn-pre-order:hover, 
.btn-pre-order.disabled:focus, 
.btn-pre-order[disabled]:focus, 
fieldset[disabled] .btn-pre-order:focus, 
.btn-pre-order.disabled:active, 
.btn-pre-order[disabled]:active, 
fieldset[disabled] .btn-pre-order:active, 
.btn-pre-order.disabled.active, 
.btn-pre-order[disabled].active, 
fieldset[disabled] .btn-pre-order.active { 
  	background-color: #49247A; 
  	border-color: #130269; 
} 
 
.btn-pre-order .badge { 
  	color: #49247A; 
  	background-color: #FFF886; 
}

.pre-order-style {
	padding-right: 2.5rem;
	padding-left: 2.5rem;    
    font-size: 25px;
}

.article-img
{
	max-width: 100%;
	padding-bottom: 40px;
}

.article-img-best-contents {
    max-width: 100%;
}

.article-box-talking
{
	margin-top: 80px;	
	height: auto;
}

.article-box
{
	margin-top: 80px;	
	height: auto;
}

.article-title
{
	margin-top: 50px;
	font-size: 50px;
	color: #fff;
}

.article-text
{
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
	line-height: 33px;
	color: #fff;		
}

.box-background-img {	
  	width: 100%;
  	z-index: 30;   	
 	background: url(../images/bg1.png) no-repeat center;
  	-webkit-transition: 1s opacity;
  	transition: 1s opacity;	
}

.box-background-img-features {
  	width: 100%;   	
 	background: url(../images/bg_features.png) no-repeat center;  	
  	-webkit-transition: 1s opacity;
  	transition: 1s opacity;	
}

.arrow-lower {
	width: 2rem;
	max-width: 100%;
	margin-top: 25px;	
	cursor: pointer;
}

.component-container {
	max-width:990px; 
	width:75%; 
	margin-top:50px;
	padding-bottom: 75px;
}

.component-block{
	padding-right: 0px; 
    padding-left: 0px; 
}

.bottom-price {
	color:#e74079; 
	font-size:95px; 
	font-weight:400; 
	margin-bottom:25px;
}

.dropdown-style {
	min-width:120px;
}


#head-logo {
	color:#fff; 
	font-size:24px;	
}

#a-language {
	color:#fff; 
	font-size:20px; 
	background-color:rgba( 255, 255, 255, 0 );
}


/** ===============================================================

Media query

==================================================================**/


/*@media (max-width:360px){html{font-size:10px;}}
@media (min-width:361px) and (max-width:399px){html{font-size:11px;}}
@media (min-width:400px) and (max-width:439px){html{font-size:12px;}}
@media (min-width:440px) and (max-width:479px){html{font-size:13px;}}
@media (min-width:480px) and (max-width:519px){html{font-size:14px;}}
@media (min-width:520px) and (max-width:559px){html{font-size:15px;}}
@media (min-width:560px) and (max-width:599px){html{font-size:16px;}}
@media (min-width:600px) and (max-width:639px){html{font-size:17px;}}
@media (min-width:640px) and (max-width:679px){html{font-size:18px;}}
@media (min-width:680px) and (max-width:719px){html{font-size:19px;}}
@media (min-width:720px) and (max-width:759px){html{font-size:20px;}}
@media (min-width:760px) and (max-width:799px){html{font-size:21px;}}
@media (min-width:800px) and (max-width:839px){html{font-size:22px;}}
@media (min-width:840px) and (max-width:879px){html{font-size:23px;}}
@media (min-width:880px){html{font-size:24px;}}*/

@media (max-width:360px){html{font-size:10px;}}
@media (min-width:461px) and (max-width:560px){html{font-size:11px;}}
@media (min-width:561px) and (max-width:660px){html{font-size:12px;}}
@media (min-width:661px) and (max-width:761px){html{font-size:13px;}}
@media (min-width:762px) and (max-width:861px){html{font-size:14px;}}
@media (min-width:862px) and (max-width:961px){html{font-size:15px;}}
@media (min-width:962px) and (max-width:1061px){html{font-size:16px;}}
@media (min-width:640px) and (max-width:1161px){html{font-size:18px;}}
@media (min-width:1162px) and (max-width:1261px){html{font-size:19px;}}
@media (min-width:1262px) and (max-width:1361px){html{font-size:20px;}}
@media (min-width:1362px) and (max-width:1361px){html{font-size:21px;}}
@media (min-width:1362px) and (max-width:1461px){html{font-size:22px;}}
@media (min-width:1462px) and (max-width:1561px){html{font-size:23px;}}
@media (min-width:1562px){html{font-size:24px;}}
